# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Cache files
.pytest_cache/
.mypy_cache/

# Logs
*.log

# macOS
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# imageio-ffmpeg cache
imageio_ffmpeg_exe*

# Uvicorn reload files
*.reload
